.about-section{
    padding-bottom: clamp(60px, 6.6406vw, 85px);

    &__box{
        display: flex;
        grid-gap: clamp(25px, 3.75vw, 48px);
        position: relative;

        &::before{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1136' height='317' fill='none'%3E%3Cg opacity='.6'%3E%3Cpath stroke='%23D12223' d='M180.414 1.005H1.66L218.97 316.454h165.209'/%3E%3Cpath stroke='%230A121F' d='M1334.44 1.005H145.811l217.308 315.449H1402.34'/%3E%3C/g%3E%3C/svg%3E");
            content: '';
            position: absolute;
            right: -18%;
            width: 102%;
            height: 330px;
            top:70px;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: contain;
            z-index: -1;
        }
    }

    &__inner{
        padding-top: 45px;
        display: flex;
        grid-gap: clamp(20px, 2.1875vw, 28px);
        flex-direction: column;
        max-width: 561px;
        align-items: center;

        .main-top{
            margin-bottom: 9px;
        }

        p{
            color: rgba(var(--cl-e),1.0);
            font-family: var(--font-family);
            font-size: clamp(16px, 1.5625vw, 20px);
            font-style: italic;
            font-weight: 800;
            line-height: 155%;
            letter-spacing: -1px;
            text-transform: uppercase;
           
        }
    }


    &__image{
        margin-left: calc(var(--container-offset) * -1);
        flex-shrink: 0;
        display: flex;
        width: Min(48.9063vw, 626px);
        
        img,picture{    
            margin-left: -7%;
            width: 100%;
            height: auto;
        }
    }

    .main-button{
        width: 257px;
        height: 45px;
        font-size: 14px;
    }
}