.about-section{
    padding-bottom: clamp(30px, 6.6406vw, 85px);
    overflow-x: hidden;

    &__box{
        display: flex;
        grid-gap: clamp(25px, 3.75vw, 48px);
        position: relative;

        &::before, &::after{
            content: '';
            position: absolute;
            width: 100vw;
            pointer-events: none;
            height: clamp(270px, 24.6094vw, 315px);
            transform: skew(35deg) translateY(-50%);
            top: 50%;

            @include small-tablet{
                top: 56%;
                height: 230px;
            }

            @include mobile{
                width: 250%;
                left: 50% !important;
                transform: skew(35deg) translate(-50%, -52%);
                height: 215px;
            }
          }
      
          &::before{
            left: 46%;
            z-index: -2;
            border: solid 1px rgba(var(--cl-e),0.5);
            @include small-tablet{
                left: 14%;
            }
          }
      
          &::after{
            left: 25%;
            z-index: -3;
            border: solid 1px var(--br-a);

            @include small-tablet{
                left: 10%;
            }
          }


          @include tablet{
            display: grid;
            grid-template-columns: 40% 60%;
          }

          @include small-tablet{
            grid-template-columns: 1fr;
          }
    }

    &__inner{
        padding-top: 45px;
        display: flex;
        grid-gap: clamp(20px, 2.1875vw, 28px);
        flex-direction: column;
        max-width: 561px;
        align-items: center;

        .main-top{
            margin-bottom: 9px;
        }

        p{
            color: rgba(var(--cl-e),1.0);
            font-family: var(--font-family);
            font-size: clamp(16px, 1.5625vw, 20px);
            font-style: italic;
            font-weight: 800;
            line-height: 155%;
            letter-spacing: -1px;
            text-transform: uppercase; 

            @include small-tablet{
                text-align: center;
                max-width: 90%;
            }

            @include mobile{
                max-width: 100%;
            }
        }

        @include tablet{
            padding-top: 0;
            justify-content: center;
            padding-bottom: 20px;
        }

        @include small-tablet{
            max-width: 100%;
            width: 100%;
            padding-bottom: 0;
        }
    }


    &__image{
        margin-left: -20%;
        flex-shrink: 0;
        display: flex;
        height: Min(39.5313vw, 506px);
        
        img,picture{ 
            margin-left: -3%;   
            width: 100%;
            height: 100%;
            @include tablet{
                margin: 0;
                object-position: right;
            }
        }

        @include small-tablet{
            display: none;
        }
    }

    .main-button{
        width: 257px;
        height: 45px;
        font-size: 14px;
    }
}