.benefits-section{
    padding-bottom: clamp(10px, 9.0531vw, 121px);
    overflow-x: hidden;

    @include tablet{
        padding-bottom: 40px;
    }

    @include mobile{
        padding-bottom: 10px;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 4.6875vw, 60px);
        align-items: center;
    }

    .main-top{
        margin-bottom: 18px;

        @include mobile{
            margin-bottom: 0;
        }
    }

    .main-button{
        width: clamp(300px, 27.6563vw, 354px);
        height: clamp(46px, 4.8438vw, 62px);
    }
}