footer{
  padding-bottom: 29px;
}

.footer{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 2.2656vw, 29px);
  position: relative;
 
  &__box{
    display: flex;
    justify-content: space-between;
    grid-gap: 30px;
  }



  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
  }

  &__deskr{
    color: rgba(var(--cl-e),0.3);
    font-family: var(--font-family2);
    font-size: clamp(14px, 1.1719vw, 15px);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  .logo{
    width: clamp(100px, 11.7188vw, 150px);
    height: auto;
  }

  .main-nav{
    position: relative;
    height: fit-content;
    &__item{
      &:nth-child(2){
        margin-left: -10px;
      }
    }

    &::before, &::after{
      content: '';
      position: absolute;
      width: 100vw;
      pointer-events: none;
    }

    &::before{
      right: -5%;
      top: 50%;
      border: solid 1px var(--br-c);
      height: 75px; 
      transform: skew(-35deg) translateY(-45%);
    }

    &::after{
      right: -8%;
      top: 50%;
      border: solid 1px var(--br-a);
      height: 109px;
      transform: skew(-35deg) translateY(-31%);
    }
  }

  .main-social{
    padding-top: 28px;
    &__box{
      flex-direction: column;
      align-items: flex-end;
      grid-gap: 20px;
    }
  }
}
