.lectors-section{
    padding-bottom: clamp(40px, 9.1719vw, 207px);
    overflow-x: hidden;

    &__content{
        padding-top: clamp(20px, 2.8125vw, 36px);
        position: relative;

        &::before,&::after{
            position: absolute;
            content: '';
            top: -1px;
            bottom: calc(clamp(20px, 6.0156vw, 77px) * -1);
            left: -10%;
            pointer-events: none;
        }

        &::before{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1341' height='1111' fill='none'%3E%3Cpath stroke='%23D12223' d='M-74.777 1110.37h919.952l494.855-705.942H649.922L922.744 1.102H-74.777' opacity='.5'/%3E%3C/svg%3E");
            width: Min(110.4688vw, 1414px);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 100% 100%;   
            

            @include laptop{
                left: calc(var(--container-offset) * -1);
            }

            @include tablet{
                left: -16%;
            }

            @include mobile{
                left: -18%;
            }
        }

        &::after{
            border-top: solid 1px rgba(var(--cl-d),0.3);
            border-bottom: solid 1px rgba(var(--cl-d),0.3);
            transform: translateX(-100%);
            width: 100vw;
            @media (max-width: (1545px)) {
                display: none;
              }
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 3.5156vw, 45px);
        position: relative;
        padding: clamp(25px, 3.0469vw, 39px) 0 clamp(30px, 7.1219vw, 95px);

        &::before{
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 102vw;
            background-color: rgba(var(--bg-d),1.0);
            z-index: -1;
            pointer-events: none;
        }
    }

    &__top{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        align-items: center;
    }

    .main-top{
        z-index: 1;
       &::after{
        background-color: rgba(var(--bg-a),0.2);
       }
    }
}