.rates-section{
    overflow-x: hidden;
    // padding-top: 22px;

    &__content{
        position: relative;

        &::before,&::after{
            position: absolute;
            content: '';
            top: -76px;
            bottom: -20px;
            right: 0;
            pointer-events: none;
        }

        &::before{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1383' height='1207' fill='none'%3E%3Cpath stroke='%23D12223' d='M1463.03 1205.97H543.073L1.43 404.401h690.103L418.711 1.075h997.519' opacity='.5'/%3E%3C/svg%3E");
            width: Min(85vw, 1383px);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 100% 100%;   
        }

        &::after{
            border-top: solid 1px rgba(var(--cl-d),0.3);
            border-bottom: solid 1px rgba(var(--cl-d),0.3);
            transform: translateX(100%);
            width: 100vw;
        }
    }

    &__about{
        padding: 38px 40px 54px;
        display: flex;
        flex-direction: column;
        grid-gap: 13px;
        position: relative;

        &::before{
            z-index: -1;
            position: absolute;
            content: '';
            background: rgba(var(--bg-d),1.0);
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
        }
    
        &::after{
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='1112' fill='none'%3E%3Cg filter='url(%23a)' opacity='.3'%3E%3Cpath fill='url(%23b)' d='M-199.777 1319.23C-402.967 967.294-315.97 536.666-5.463 357.395c310.506-179.271 726.939-39.299 930.129 312.636 203.194 351.939 116.194 782.559-194.313 961.829-310.507 179.28-726.94 39.3-930.13-312.63Z'/%3E%3C/g%3E%3Cg filter='url(%23c)' opacity='.3'%3E%3Cpath fill='url(%23d)' d='M955.612 686.636C752.422 334.701 839.419-95.927 1149.93-275.198c310.5-179.271 726.94-39.299 930.13 312.636 203.18 351.936 116.19 782.563-194.32 961.834-310.51 179.268-726.94 39.298-930.128-312.636Z'/%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='b' cx='0' cy='0' r='1' gradientTransform='rotate(-120 468.347 392.686) scale(735.816 649.198)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D12223' stop-opacity='.83'/%3E%3Cstop offset='1' stop-color='%23D12223' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='0' cy='0' r='1' gradientTransform='rotate(-120 863.426 -257.141) scale(735.816 649.198)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D12223' stop-opacity='.83'/%3E%3Cstop offset='1' stop-color='%23D12223' stop-opacity='0'/%3E%3C/radialGradient%3E%3Cfilter id='a' width='1643.95' height='1730.6' x='-459.532' y='129.332' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_0_1' stdDeviation='75'/%3E%3C/filter%3E%3Cfilter id='c' width='1643.95' height='1730.6' x='695.857' y='-503.26' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_0_1' stdDeviation='75'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
            height: 100%;
            width: 100vw;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            pointer-events: none;
            z-index: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @include laptop{
            padding: 38px 20px 54px;
        }

        @include tablet{
            padding: 40px 0 50px;
        }

        
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 215px));
        justify-content: end;
        grid-gap: clamp(25px, 5.3125vw, 68px);

        @include tablet{
            grid-template-columns: repeat(2, 160px);
        }

        @include small-tablet{
            grid-template-columns: repeat(2, 150px);
        }

        @include mobile{
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        &--top{
            @include laptop{
                grid-template-columns: repeat(2, 160px);
            }

            @include small-tablet{
                grid-template-columns: repeat(2, 100px);
                grid-gap: 5px;
            }

            @include mobile{
                grid-template-columns: repeat(2, 40px);
            }
        }

        
        &--mode{
            grid-template-columns: 1fr minmax(auto, 215px) minmax(auto, 215px);

            @include tablet{
            
                grid-template-columns: 1fr repeat(2, 160px);
            }

            @include small-tablet{
                grid-template-columns: 1fr repeat(2, 150px);
            }

            @include mobile{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 5px;
            }
        }

        .rates-list__name::before{
            display: none;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        align-items: center;
        padding-bottom: clamp(40px, 10vw, 128px);

        @include mobile{
            padding-bottom: 20px;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 6.7188vw, 86px);
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(25px, 2.7344vw, 35px);
    }

  
    .main-top{
        z-index: 2;
    }
 
}