<footer>
  <div class="container">
    <div class="footer">

      <div class="footer__box">

      <ul class="main-nav">
        <li class="main-nav__item">
          <a href="index-ru.html" class="logo">
            <picture>
              <source type='image/webp' srcset='img/index/logo.webp'>
              <img width='150' height='60' src='img/index/logo.png' alt='image'>
            </picture>
          </a>
        </li>
        <li class="main-nav__item">
          <a href="#about" class="main-nav__link">о нас</a>
        </li>
        <li class="main-nav__item">
          <a href="#rates" class="main-nav__link">тарифы</a>
        </li>
        <li class="main-nav__item">
          <a href="#lectors" class="main-nav__link">программа</a>
        </li>
      </ul>
      
      <div class="main-social">
        <div class="main-social__box">
          <div class="main-social__inner">
            <a href="https://instagram.com/47coach_academy?igshid=OGQ5ZDc2ODk2ZA==" class="main-social__link">
              <svg width='40' height='40'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
              @coach.academy</a>
              <a href="http://t.me/CA47_suport_bot" class="main-social__link">
                <svg width='40' height='40'>
                  <use href='img/sprite/sprite.svg#tg'></use>
                </svg>
                @coach.academy.group</a>
          </div>
        </div>
      </div>
    </div>

      <div class="footer__bottom">
        <span class="footer__deskr">© 2023, Все права защищены</span>
        <a href="#" class="footer__deskr footer__deskr--mode">Правила обработки персональных данных</a>
      </div>
    </div>
  </div>
</footer>

