<footer>
  <div class="container">
    <div class="footer">

      <div class="footer__box">

      <ul class="main-nav">
        <li class="main-nav__item">
          <a href="#" class="logo">
            <picture>
              <source type='image/webp' srcset='img/index/logo.webp'>
              <img width='150' height='60' src='img/index/logo.png' alt='image'>
            </picture>
          </a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">про нас</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">тарифи</a>
        </li>
        <li class="main-nav__item">
          <a href="#" class="main-nav__link">программа</a>
        </li>
      </ul>
      
      <div class="main-social">
        <div class="main-social__box">
          <div class="main-social__inner">
            <a href="mailto:coachacademy@mail.ua" class="main-social__link">coachacademy@mail.ua</a>
            <a href="tel:442071291442" class="main-social__link">+44 (20) 7129-1442</a>
          </div>
          <div class="main-social__inner">
            <a href="#" class="main-social__link">
              <svg width='40' height='40'>
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg>
              @coach.academy</a>
              <a href="#" class="main-social__link">
                <svg width='40' height='40'>
                  <use href='img/sprite/sprite.svg#tg'></use>
                </svg>
                @coach.academy.group</a>
          </div>
        </div>
      </div>
    </div>

      <div class="footer__bottom">
        <span class="footer__deskr">© 2023, Всі права захищені</span>
        <span class="footer__deskr">Правила обробки персональних даних</span>
      </div>
    </div>
  </div>
</footer>

