<header>
  <div class="container">
    <div class="header">

      <a href="#" class="logo">
        <picture>
          <source type='image/webp' srcset='img/index/logo.webp'>
          <img width='190' height='76' src='img/index/logo.png' alt='image'>
        </picture>
      </a>

      <ul class="main-nav">
        <li class="main-nav__item">
          <a href="#about" class="main-nav__link">о нас</a>
        </li>
        <li class="main-nav__item">
          <a href="#rates" class="main-nav__link">тарифы</a>
        </li>
        <li class="main-nav__item">
          <a href="#lectors" class="main-nav__link">програма</a>
        </li>
        <li class="main-nav__item">
          <div class="main-lang">
            <a href="index.html" class="main-lang__link">UA</a>
            <a href="index-ru.html" class="main-lang__link active">RU</a>
          </div>
        </li>
      </ul>

      <a href="#consult" class="main-button">ЗАРЕГИСТРИРОВАТЬСЯ</a>

      <div class="burger">
        <span class="burger__line"></span>
      </div>

      
      <div class="mobile-menu">
        <div class="mobile-menu__box">
          <div class="mobile-menu__top">
            <a href="index-ru.html" class="logo">
              <picture>
                <source type='image/webp' srcset='img/index/logo.webp'>
                <img width='150' height='60' src='img/index/logo.png' alt='image'>
              </picture>
            </a>

            <div class="burger">
              <span class="burger__line"></span>
            </div>
          </div>
          <ul class="main-nav">
            <li class="main-nav__item">
              <a href="#about" class="main-nav__link">о нас</a>
            </li>
            <li class="main-nav__item">
              <a href="#rates" class="main-nav__link">тарифы</a>
            </li>
            <li class="main-nav__item">
              <a href="#lectors" class="main-nav__link">програма</a>
            </li>
            <li class="main-nav__item">
              <div class="main-lang">
                <a href="index.html" class="main-lang__link">UA</a>
                <a href="index-ru.html" class="main-lang__link active">RU</a>
              </div>
            </li>
          </ul>

          <a href="#consult" class="main-button">ЗАРЕГИСТРИРОВАТЬСЯ</a>
        </div>
      </div>
    </div>
  </div>
</header>