<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="Glassupply markup dev">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coach Academy</title>

    <link rel="preload" href="fonts/Mulish-BlackItalic.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Mulish-Bold.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Mulish-ExtraBoldItalic.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Mulish-Italic.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Mulish-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Ubuntu-Medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Ubuntu-Regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Ubuntu-RegularItalic.woff" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

