.benefits-card{


    display: flex;
    grid-gap: 9px;
    position: relative;
    height: clamp(80px, 9.2188vw, 118px);
    padding: clamp(18px, 1.875vw, 24px) clamp(66px, 6.7188vw, 86px) clamp(18px, 1.875vw, 24px) clamp(40px, 4.6875vw, 60px);

    &::before{
        position: absolute;
        content: '';
        inset: 0;
        background-color: rgba(var(--bg-d),1.0);
        z-index: 0;
        transform: skew(10deg);
    }

    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -32px;
        top: -28px;
        border: solid 1px var(--br-c);
        z-index: 0;
        transform: skew(10deg);
    }

    &__icon{
        z-index: 1;
    }

    p{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(16px, 1.4063vw, 18px);
        font-style: italic;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        z-index: 1;

        i{
            font-size: 13px;
        }
    }
}