.benefits-card{

    margin-left: 32px;
    display: flex;
    grid-gap: 9px;
    position: relative;
    min-height: clamp(80px, 9.2188vw, 118px);
    padding: clamp(18px, 1.875vw, 24px) clamp(20px, 5.3125vw, 68px) clamp(18px, 1.875vw, 24px) clamp(20px, 4.6875vw, 60px);
    height: 100%;

    @include mobile{
        margin-left: 22px;
        padding: 18px 10px;
    }

    @include ios{
        margin-left: 10px;
    }

    &::before{
        position: absolute;
        content: '';
        inset: 0;
        background-color: rgba(var(--bg-d),1.0);
        z-index: 0;
        transform: skew(10deg);
    }

    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -32px;
        top: -28px;
        border: solid 1px var(--br-c);
        z-index: 0;
        transform: skew(10deg);

        @include mobile{
            left: -20px;
            top: -18px;
        }

        @include ios{
            left: -12px;
            top: -12px;
        }
    }

    &__icon{
        z-index: 1;

        svg{
            fill: none;
        }
    }

    p{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.4063vw, 18px);
        font-style: italic;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        z-index: 1;

        i{
            font-size: 13px;
        }
    }
}