.rates-list{
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
    counter-reset: li;

    &__row{
        display: grid;
        grid-template-columns: 1fr minmax(auto, 215px) minmax(auto, 215px);
        grid-gap: clamp(25px, 5.3125vw, 68px);

        @include laptop{
            grid-template-columns: 1fr repeat(2, 160px);
        }

        @include small-tablet{
            grid-template-columns: 1fr repeat(2, 100px);
            grid-gap: 5px;
        }

        @include mobile{
            grid-template-columns: 1fr repeat(2, 40px);
        }
    }

    &__title{
        color: rgba(var(--cl-a),1.0);
        text-align: center;
        font-family: var(--font-family);
        font-size: clamp(24px, 2.3438vw, 30px);
        font-style: italic;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        position: relative;

        i{
            position: absolute;
            top: -10px;
            left: 70%;
            color: rgba(var(--cl-d),1.0);
            font-size: clamp(14px, 1.4063vw, 18px);

            @include small-tablet{
                left: 65%;
                top: -17px;
            }

            @include mobile{
                left: 46%;
            }
        }

        @include mobile{
            padding-left: 5px;
            transform: rotate(-65deg);
        }
    }

    &__value{
        color: rgba(var(--cl-a),1.0);
        text-align: center;
        font-family: var(--font-family);
        font-size: clamp(18px, 1.875vw, 24px);
        font-style: italic;
        font-weight: 900;
        line-height: 80%;
        text-transform: uppercase;

        &--red{
            color: rgba(var(--cl-d),1.0);
        }
    }

    &__name{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 13px;
        font-style: italic;
        font-weight: 900;
        line-height: 139.5%;
        text-transform: uppercase;
        display: flex;
        grid-gap: 5px;

        &--mode{
            color: rgba(var(--cl-a),1.0);
            text-align: start;
            font-family: var(--font-family);
            font-size: clamp(18px, 2.3438vw, 30px);
            font-style: italic;
            font-weight: 800;
            line-height: 120%;
            letter-spacing: -1.5px;
            text-transform: uppercase; 

            @include mobile{
                justify-self: start;
                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }
        }

        &::before{
            content: counter(li) ".";
            counter-increment: li;
            display: block;

        }
    }

    &__price{
        color: rgba(var(--cl-a),1.0);
        text-align: left;
        font-family: var(--font-family);
        font-size: clamp(22px, 4.6719vw, 47px);
        font-style: italic;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: -2.35px;
        text-transform: uppercase;
        position: relative;

        b{
            font-size: clamp(16px, 1.875vw, 24px);
            position: relative;
            bottom: 16px;

            @include small-tablet{
                bottom: 8px;
            }
        }

        @include small-tablet{
            text-align: end;
        }

        @include mobile{
            text-align: center;
        }

        &-text{
            letter-spacing: normal;
            display: flex;
            width: 210px;
            grid-gap: clamp(2px, .7031vw, 9px);
            position: absolute;
            bottom: 5px;
            left: 12px;
            z-index: 3;
            color: rgba(var(--cl-d),1.0);
            font-family: var(--font-family);
            font-size: clamp(12px, 1.1719vw, 15px);
            font-weight: 900;
            line-height: 139.5%;

            b{
                bottom: initial;
                font-size: clamp(12px, 1.25vw, 16px);
                font-style: italic;
                font-weight: 800;
                line-height: 120%;
                letter-spacing: -0.8px;
            }

            i{
                font-size: 12px;
                position: relative;
                bottom: clamp(2px, .3906vw, 5px);
            }

            @include tablet{
                left: 8px;
                grid-gap: 3px;
            }

            @include small-tablet{
                bottom: -9px;
                left: -2%;
            }

            @include mobile{
                bottom: -11px;
                left: 50%;
                transform: translateX(-35%);
            }

            &--mode{
                @include mobile{
                    transform: translateX(-31%);
                }
            }
        }
    }
}