@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-style: $style;
    font-weight: #{$weight};
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("Mulish", "Mulish-Regular", 400, normal);
@include font-face("Mulish", "Mulish-Bold", 700, normal);
@include font-face("Mulish", "Mulish-ExtraBold", 800, normal);
@include font-face("Mulish", "Mulish-Black", 900, normal);

@include font-face("Mulish-Italic", "Mulish-Italic", 400, italic);
@include font-face("Mulish-Italic", "Mulish-ExtraBoldItalic", 800, italic);
@include font-face("Mulish-Italic", "Mulish-BlackItalic", 900, italic);

@include font-face("Ubuntu", "Ubuntu-Regular", 400, normal);
@include font-face("Ubuntu", "Ubuntu-Medium", 500, normal);
@include font-face("Ubuntu-Italic", "Ubuntu-RegularItalic", 400, italic);




// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy
